<div class="row pt-5 my-2" id="travelofferlist">
    <div class="col-12 text-center">
        <div class="row p-3">
            <div class="col-12 text-center">
                <h2>Beautiful trips with&hellip; Special offers</h2>
                <h3>Order a trip to any of these destinations and get a special discount.</h3>
                <div class="row mt-4">
                    <div class="col-6 offset-3">
                        <h5>Please use the filter to restrict the options:</h5>
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Filter for a destination">
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-5">
            <div class="col-lg-4 col-sm-6 text-center p-1 mb-4" *ngFor="let travelitem of travelitems | filter:searchText">
                <img src="{{ travelitem.photo }}" alt="{{ travelitem.name }}" class="py-2 img-fluid" (click)="addToCart(travelitem)">
                <h3 class="mt-2">{{ travelitem.name }}</h3>
                <p>{{ travelitem.description }} Starts on <strong>{{ travelitem.startdate }}</strong>, for <strong>{{ travelitem.duration }}</strong> days.</p>
                <h5>{{ travelitem.price | currency }}</h5>
                <p><button class="btn btn-outline-secondary" (click)="addToCart(travelitem)">Add to cart</button></p>
            </div>
        </div>
    </div>
</div>