<div class="row my-5 py-5">
    <div class="col-lg-4 offset-1">
        <h3>We Will Make Your Vacation Unforgettable</h3>
        <h2>Services We Offer</h2>
        <p>Travel Insurance is compulsory on all Intrepid trips and is a condition of booking with Intrepid. When selecting a travel insurance policy we require that at a minimum you are covered for medical expenses, including emergency repatriation. We
            strongly recommend that the policy also covers personal liability, cancellation, curtailment and loss of luggage and personal effects.</p>
        <p><a class="btn btn-outline-secondary" routerLink="/blog">Read our blog</a></p>
    </div>
    <div class="col-lg-6 offset-1 col-sm-11">
        <img src="assets/img/intro01.jpg" class="img-fluid d-xs-none" alt="Volleyball at the beach">
    </div>
</div>