<app-page-header></app-page-header>
<div class="row">
    <div class="col-7 offset-1">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/blog">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">This Blog Post</li>
            </ol>
        </nav>
        <div *ngIf="blogitem" class="mt-2 mb-5">
            <h2 class="mr-4 my-4">{{ blogitem.title }}</h2>
            <h3 class="mr-4 mb-4">{{ blogitem.teaser }}</h3>
            <div class="mr-4 mb-5">
                <img src="{{ blogitem.photo }}" alt="{{ blogitem.title }}" align="right" class="ml-4 mt-2 mb-4 rounded">
                <div [innerHTML]="blogitem.blogtext"></div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h4 class="my-4">All Posts</h4>
        <ul>
            <li *ngFor="let item of blogitems; index as postId" class="my-2"><a [routerLink]="['/blogpost', postId]">{{ item.title }}</a></li>
        </ul>
    </div>
</div>
<app-footer></app-footer>