<div class="row pt-5" id="choices">
    <div class="col-12 text-center">
        <div class="row pt-4">
            <div class="col-12 text-center">
                <h3>Why Choose Us</h3>
                <h2>Benefits of Working with Our Travel Agency</h2>
            </div>
        </div>
        <div class="row px-5 pb-3">
            <div class="col-lg-4 col-sm-6 text-center p-5">
                <img src="assets/img/icon01.png" alt="Everything’s on schedule" class="py-4">
                <h3 class="py-2">Everything’s on schedule</h3>
                <p>We love punctiality. That’s why the time of each client’s trip is scheduled till the last second of the adventure.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center p-5">
                <img src="assets/img/icon02.png" alt="Destination variety" class="py-4">
                <h3 class="py-2">Destination variety</h3>
                <p>With us, you can reach any point of the world map. Choose your country and we will discuss all needed details.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center p-5">
                <img src="assets/img/icon03.png" alt="Comfortable housing" class="py-4">
                <h3 class="py-2">Comfortable housing</h3>
                <p>Even if you have low budget, you can let yourself to go to the other side of the world and live their in the most comfy surrounding.</p>
            </div>
        </div>
    </div>
</div>