<header class="mainheader p-4">
    <app-navbar></app-navbar>
    <div class="row pt-5 text-white">
        <div class="col-lg-5 offset-1 col-md-8">
            <h2>Experience The</h2>
            <h1>Best Trip Ever</h1>
            <p>We are committed to offering travel services of the highest quality, combining our energy and enthusiasm with years of experience.</p>
            <button class="btn btn-outline-light mt-4" routerLink="/travel">Our Travel Offers</button>
        </div>
    </div>
</header>